@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 style="width: 100%; text-align: center;">Data is reloading...</h1>
        <br />
        <h1 style="width: 100%; text-align: center;">Data will be available in @Html.ActionLink("AI Feeds Statitics", "Dashboard", "Home") shortly.</h1>
    </div>
</body>
</html>
