
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unreplied</title>
</head>
<body>
    <h1>Threads with no reply</h1>
    <div> 
        <ol>
            @foreach (string url in ViewBag.UnRepliedThreads)
            {
                <li><a href="@url">@url</a></li>
            }
            </ol>
</div>

    <h1>Unanswered Threads</h1>
    <div>
        <ol>
            @foreach (string url in ViewBag.UnAnsweredThreads)
            {
                <li><a href="@url">@url</a></li>
            }
        </ol>
    </div>
</body>
</html>
