@{  
    Layout = null;
}

<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Feeds Dashboard</title>
    <link rel="stylesheet" href="~/content/site.css">
</head>
<body>
    <table>
        <tr>
            <td>
                <b>Threads with a reply</b><br />
                <svg id="repliedThreads" width="200" height="200"></svg>
            </td>
            <td class="spaceColumn">
            </td>
            <td>
                <b>Threads Marked As Answered</b><br />
                <svg id="answeredThreads" width="200" height="200"></svg>
            </td>
            <td style="width: 400px;">
            </td>
            <td style="text-align: left">
                <div style="font-size: 1.5em">Collection start date:</div>
                <div style="font-size: 1.7em; font-weight: 600">June 1<sup>st</sup> 2015</div>

                <br /><br />

                <div style="font-size: 1.5em">Total Threads: </div>
                <div style="font-size: 1.7em; font-weight: 600">@ViewBag.TotalThreads</div>
        </td>
        </tr>
        </table>
        <table>
            <tr>
                <td>
                    <div id="userScore"></div>
                    <span class="watermark">Reply: 1 point &nbsp;&nbsp;&nbsp; Vote Up: 1 point &nbsp;&nbsp;&nbsp; Accepted Answer: 5 points</span>
                </td>
            </tr>
        </table>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="~/scripts/loadUserScoreBar.js"></script>
    <script src="~/scripts/liquidFillGauge.js"></script>

    <script language="JavaScript">
        loadLiquidFillGauge("repliedThreads", @ViewBag.RepliedPercentage);

        var config1 = liquidFillGaugeDefaultSettings();
        config1.circleColor = "#FF7777";
        config1.textColor = "#FF4444";
        config1.waveTextColor = "#FFAAAA";
        config1.waveColor = "#FFDDDD";
        config1.circleThickness = 0.2;
        config1.textVertPosition = 0.2;
        config1.waveAnimateTime = 1000;
        loadLiquidFillGauge("answeredThreads", @ViewBag.AnsweredPercentage, config1);
    </script>
</body>